In [17]:
# Chapter 3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

In [18]:
# Read height - weight dataset
dataset = pd.read_csv('book_code/Section 2/height-weight.csv', header=None)

In [19]:
dataset.head()

           0           1
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [20]:
dataset.shape

(5000, 2)

In [21]:
# Separate data
X = dataset[0]
Y = dataset[1]

In [24]:
plt.scatter(dataset[0][:20], dataset[1][:20], color='red', s=30)

0     73.847017
1     68.781904
2     74.110105
3     71.730978
4     69.881796
5     67.253016
6     68.785081
7     68.348516
8     67.018950
9     63.456494
10    71.195382
11    71.640805
12    64.766329
13    69.283070
14    69.243732
15    67.645620
16    72.418317
17    63.974326
18    69.640060
19    67.936005
Name: 0, dtype: float64