In [1]:
# Chapter 3
import numpy as np
import pandas as pd

In [7]:
# Read height - weight dataset
dataset = pd.read_csv('book_code/Section 2/height-weight.csv', header=None)

In [8]:
dataset.head()

           0           1
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [9]:
dataset.shape

(5000, 2)