In [1]:
# Chapter 3
import numpy as np
import pandas as pd

In [2]:
# Read height - weight dataset
dataset = pd.read_csv('book_code/Section 2/height-weight.csv')

In [4]:
dataset.head()

   73.84701702  241.8935632
0    68.781904   162.310473
1    74.110105   212.740856
2    71.730978   220.042470
3    69.881796   206.349801
4    67.253016   152.212156